@media screen and (max-width: 576px) {
  #terminalEditor {
    font-size: 0.75rem !important;
  }
}
.p-accordion-content {
  padding: 0;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: var(--highlight-bg);
}
